<form action="/kullanici/guncelle" method="post">
    <input type="text" name="Name" placeholder="User Adı" />
    <input type="email" name="Email" placeholder="User Emaili" />
    <button type="submit">Kaydet</button>
    @* <a href="/Personel/Index">Personel Listesine gider</a> *@
</form>